<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs') %>
    <!--USING PARTIALS TO AVOID CODE REPETITION-->
    <%- include('partials/nav.ejs',{page:'contact',user})%>
    <h1>Profile</h1>
    <table class="table table-striped">
      <tr>
        <td>Display Name</td>
        <td><%= user.name %></td>
      </tr>

      <tr>
        <td>Email</td>
        <td><%= user.email %></td>
      </tr>

      <tr>
        <td>Phone Number</td>
        <td><%= user.phone_number %></td>
      </tr>

      <tr>
        <td>UID</td>
        <td><%= user.uid %></td>
      </tr>

      <tr>
        <td>Profile Image</td>
        <td><img src="<%= user.picture %>" height = 110 width = 110 ></td>
      </tr>


    </table>
    
   

    <div>
      <form action = "/b/orderhistory">
       <button type = "submit" class="btn btn-primary">Order History</button>
       <br>
     </form>
    </div> 
    <% if (!orders){ %>   <!--no order-->
    <% } else { %>
        <% orders.forEach(order => { %>
        <b>Order Date: <%= order.timestamp.toDate() %> </b>
        <table class="table table-striped">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Qty</th>
          </tr>
          <% for (let i = 0; i< order.cart.length; i++){ %>
                <tr>
                  <td><img src="<%=order.cart[i].product.image_url %>" height = "50" width = "50"></td>
                  <td><%= order.cart[i].product.name %></td>
                  <td><%= order.cart[i].product.price %></td>
                  <td><%= order.cart[i].qty %></td>
                </tr>
          <% } %>
        </table>
        <% })%>
    <% } %>
  </head>
  <body>
   

   
<%- include('partials/scripts.ejs') %>
  </body>
</html>